@main("Poker") {

    <div class="table">
        <div class="pokeruser" ng-repeat="player in players track by $index">
            {{ player.name }}<sup ng-if="player.hasTurn">*</sup>: <b>{{ player.bet }}</b>

            <div style="margin-top:4px;">{{ player.money }}</div>
        </div>

        <div class="tablecards">
            <div ng-repeat="card in table" ng-bind-html="card | cardFace" class="{{ card | cardClass }}"></div>
        </div>

        <div style="color:white;background-color:black;padding:3px;position:absolute;top:110px;left:50px;" ng-hide="pot==0">
            {{ pot }}
        </div>
    </div>

    <div style="height: 300px;">&nbsp;</div>

    <div ng-hide="joined">
        <input type="text" ng-model="playerName">
        <select ng-model="playerPosition">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <button ng-click="join();" class="btn btn-default">Join</button>
    </div>

    <div ng-show="joined" class="actionpanel panel panel-warning">
        <div class="panel-heading">{{ playerName }}</div>
        <div class="panel-body">
            <button ng-click="start();" class="btn btn-success">Start</button>

            <button ng-click="check();" class="btn btn-primary">Check</button>

            <button ng-click="call();" class="btn btn-default">Call</button>

            <button ng-click="check();" class="btn btn-danger">Fold</button>

            <div style="margin-top:6px;">
                <input type="number" placeholder="Bet..." ng-model="betAmount" />
                <button ng-click="bet();" class="btn btn-default">Bet/raise</button>
            </div>


            <div style="margin-top:12px; height:100px;" ng-hide="hand.length == 0">
                <div ng-repeat="card in hand" ng-bind-html="card | cardFace" class="{{ card | cardClass }}"></div>
            </div>
        </div>
    </div>

    <div id="chatMessages">
        <ul>
            <li ng-repeat="message in messages">{{ message.time }} - {{ message.text }}</li>
        </ul>
    </div>
}
